/*POST CSS*/

.post_container {
	width: 60%;
	background-color: #f4f4f4;
	margin: 0 auto;
	position: relative;
	margin-top: 100px;
	padding: 50px;
}

.post_container ul {
	text-align: left;
	padding-left: 40px;
	width: 100%;
}

.w50 {
	width: 50%;
}

.w50 li:first-child {
	padding-bottom: 85px;
}

.form_inputs {
	padding: 40px;
	background-color: white;
	text-align: left;

}
