<template name = "form">
		

				
		<p>dis de job posting page</p>
		<p>hopefully iron router won't be a bitch again</p>
		<p>hopefully iron router won't be a bitch again</p>
		<p>hopefully iron router won't be a bitch again</p>

		<input type="text" class="input-box_title" placeholder = "title">
		<input type="text" class="input-box_description" placeholder = "description">
		<input type="text" class="input-box_company" placeholder = "company">
		<input type="text" class="input-box_location" placeholder = "location">
		<button class = "test_enter_button" href = "/home" >Enter</button>


		<p>more text</p>

		
</template>