<template name = "post">

	<article class="job_post mix">
		<a href="#" class="like"><i class="fa fa-thumbs-o-up"></i></a>
		<div class="float_left">
			<ul>
				<li class="job_title"><a href="#">{{job_title}}</a></li>
				<li class="company_name"><a href="#">{{company_name}}</a></li>
			</ul>
		</div>
		<div class="float_right">
			<ul>
				<li class="location"><a href="#">{{location}}</a></li>
				<li class="post_date"><a href="#">{{post_date}}</a></li>
			</ul>
		</div>
	</article>

</template>