<template name = "posts">

	<script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>



	<div class="media_resize">
		<div class = "hamburger_wrapper">
			<i class="fa fa-bars hamburger" id="hamburger"></i>
		</div>
		
		<ul class="search_post clear">
			<li class="box">
				<form action="">
					<span class="icon"><i class="fa fa-search"></i></span>
					<input type="search" id="search" placeholder="Search..." />
				</form>
			</li>
			<li class="post_button_pad">
				<a href="/form" class="post_button">Post Job</a>
			</li>
			<li class="post_button_pad">
				<a href="/view_post" class="view_post_button">View Post</a>
			</li>
		</ul>

		<section class="posts_section clear Container" id = "Container">

		{{#each posts}}             
        	{{>post job_title=job_title company_name=company_name location=location post_date=post_date}}
        {{/each}}

		</section>
	</div>
</template>