<template name="view_post">


<body>
<header class="header">
		<a href="#"><img src="img/logo_white(585x80).png" alt="Designation Logo"><h1 class="header_text">Job Board</h1></a>
</header>


<article class="post_container clear">
	<div class="float_left">
		<a href="#" class="like">
			<i class="fa fa-thumbs-o-up"></i>
		</a>
		<ul>
			<li class="job_title"><a href="#">UX Apprentice</a></li>
			<li class="company_name"><a href="#">FCB</a></li>
		</ul>

		<ul>
			<li class="location"><a href="#">Chicago, IL</a></li>
			<li class="duration"> Full-Time</li>
		</ul>
		
	</div>

	<ul class="w50 clear">
			<li class="float_right"><a href="#"><i class="fa fa-share"></i></a></li>

			<li class="float_right"><a href="#" class="post_date">Today</a></li>
	</ul>

	<section class= "form_inputs">
		<div class="job_description">
				<h3>
					Job Description:
				</h3>
				<p>
					Do you daydream about old designs and wonder what could have been? Do you frequently ask yourself, “What if I had just moved that layer three pixels to the right?” Do you still second guess the color of a button you designed six years ago? 

					We’ve been looking for you for a while now. We need a UX Designer to translate concepts from our Creative Director into effective layouts and designs. Since Blue Acorn measures every design with data, analytics, usability and user testing, you’ll never wonder about the past. Finally, you’ll experience the much needed closure thats been missing all of your life. You’ll never walk away from a design wondering what could or should have been. Instead, you’ll walk away with gems of knowledge for the next go-around.

					If you’re insecure, seeing your designs under the scrutiny of data might break your spirit. If you’re someone who cares more about kicking ass than being right, then take a look below and apply. 

					What you’ll do:

					Work closely with Creative Director. You will translate creative direction into persuasive, effective designs and layouts.
					Collaborate with Usability and Optimization Specialists and UI Team
					Apply a brand’s look and feel across products and platforms
					Design new features from scratch, while helping to identify areas of improvement within existing features
					Present design concepts
					Create wireframes and prototypes and provide clear, thorough design specs
					Remain current on creative trends in our industry as well as the latest techniques/technologies that help drive cutting-edge creative
					At Blue Acorn, we pride ourselves on a culture of “continuous improvement” – as such, we’ll need to identify how we can improve the results we deliver to our clients, share with us how you personally can improve, and how the team can improve the relationships we have with our clients.
				</p>
			
		</div>
		<div class="qualifications">
				<h3>
					Qualifications:
				</h3>
				<p>
					4+ years education, 5-8 years experience
					Mind-blowing visual design skills a must
					Interactive/motion/UX design skills a plus
					Proven experience creating real-world design for web, mobile, consumer and enterprise software
					Mastery of design and creative tools including Adobe Creative Suite
					Online portfolio featuring both static and interactive examples of your work
					Knowledge of strengths and weaknesses inherent in various platforms and technologies such as HTML5 / JavaScript / jQuery / CSS3 / iOS / Android / Windows / Windows Phone
				</p>
			
		</div>
		<div class="company_bio">
				<h3>
					Company Bio:
				</h3>
				<p>
					United Airlines and United Express operate approximately 5,000 flights each day to more than 370 destinations throughout the world. With our more than 85,000 dedicated employees located worldwide, and the most comprehensive global route network in the industry, we’re committed to delivering excellent customer service and an enhanced travel experience. 

					For more information, visit united.com. Also follow United on hub.united.com, Twitter, Facebook, YouTube and Instagram.
				</p>
		</div>
		<div class="tags">
			<h3>Tags:</h3>
				<label for="User Interface">User Interface</label>;
				<label for="User Experience">User Experience</label>;
				<label for="Visual">Visual</label>;
				<label for="Full-Time">Full-Time</label>;
				<label for="Chicago, IL">Chicago, IL</label>
		</div>

	</section>
	
</article>

</body>

</template>